html{
    scroll-behavior: smooth;
}
body{
    background: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: black;
    background: var();
    line-height: 1.6;
    position: relative;
} 
.nav{
    /* border: yellowgreen 2px solid; */
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
img {
    height: 90px;
    /* border: green 2px solid; */
    scale: 1.1;
    
}

.section {
    padding: 80px 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}

h1, h2 {
    color: black;
    margin-bottom: 20px;
    text-align: center;
    text-decoration: underline;
    /* color: lightblue; */
}
.btn {
    padding: 12px 24px;
    border-radius: 6px;
    text-decoration: none;
    display: inline-block;
    font-weight: 600;
}

.primary-btn {
    background: blue;
    color: whitesmoke;
}
.secondary-btn {
    background: whitesmoke;
    border: 2px solid blue;
    color: black;
}

.primary-btn:hover,
.secondary-btn:hover {
    opacity: 0.85;
}

.header {
    /* border: red  2px solid ; */
    height: 100px;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    background: #222020;
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.nav-container {
    /* border: orange 2px solid; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    background-color: #222020;
    box-sizing: border-box;
}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    transition: all 0.3s ease;
}
.nav a:hover{
    transform: scale(1.5);
    color: lightblue;
}

.hamburger {
    display: none;
    font-size: 26px;
    cursor: pointer;
}

.hero {
    padding: 140px 0 100px;
    text-align: center;
    background: whitesmoke;
    background-image: url("https://images.unsplash.com/photo-1486406146926-c627a92ad1ab?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 400px;
}

.hero p {
    max-width: 600px;
    margin: 0 auto 30px;
    color: #444;
}

.hero-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-grid,
.why-grid,
.testimonials-grid,
.stats-grid {
    display: grid;
    gap: 25px;
    margin-top: 40px;
}

.service-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.service-card,
.why-card,
.testimonial-card,
.stat {
    padding: 25px;
    border-radius: 8px;
    background: whitesmoke;
}

.testimonial-card p {
    margin-bottom: 10px;
}

.about-list {
    margin-top: 20px;
    list-style: none;
}

.about-list li {
    margin-bottom: 12px;
}

.stat {
    text-align: center;
}

.stat .counter {
    font-size: 40px;
    color: blue;
    font-weight: 700;
}
.contact-form {
    display: grid;
    gap: 15px;
    margin-bottom: 30px;
}

.contact-form input,
.contact-form textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea {
    height: 120px;
}

.footer {
    background: black;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.footer-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

@media (max-width: 768px) {
    .nav {
        position: absolute;
        top: 70px;
        right: 0;
        background: white;
        width: 200px;
        flex-direction: column;
        display: none;
        padding: 20px;
        box-shadow: 0 2px 6px rgba(0,0,0,0.15);
    }

    .nav a {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
    .nav-cta {
    display: block;
}
}
.service-card{
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.service-card:hover{
    transform: translateY(-5px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.why-card{
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.why-card:hover{
    transform: translateY(-5px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.testimonial-card{
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.testimonial-card:hover{
    transform: translateY(-5px); 
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
.cta {
    text-align: center;
}

.cta .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.service-hero {
    padding: 140px 20px;
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
}


.service-box {
    width: 90%;
    max-width: 900px;
    background: white;
    border-radius: 10px;
    padding: 30px;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
}


.service-box h2 {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}


.service-list {
    margin-top: 20px;
    padding-left: 20px;
}


.big-btn {
    background: blue;
    color: white;
    padding: 15px 30px;
    border-radius: 8px;
    display: block;
    width: max-content;
    margin: 30px auto 0 auto;
    text-decoration: none;
    font-size: 18px;
}


.back-btn {
    background: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 6px;
    font-size: 16px;
}
.service-grid a{
    text-decoration: none;
    color: black;
}
.img1{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/070/683/488/small/strategic-planning-concept-hand-with-pen-demonstrating-business-strategy-for-future-success-and-growth-photo.jpeg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.img2{
    background-image: url("https://www.elitegroup.com/wp-content/uploads/2023/06/Digital-Transofrmation-Plain-002-1024x561.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.img3{
    background-image: url("https://prathamwrites.in/wp-content/uploads/2025/10/15-Sustainable-Data-Driven-Content-Marketing-Strategies-That-Actually-Work-in-Future.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.img4{
    background-image: url("https://cdn1-public.infotech.com/infographics/uploads/33451/deliver-on-your-digital-product-vision_original.jpg?1693949450");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.about{
    background-color: whitesmoke;
}